/* @author Andrew Kohanovskij <akohan91@gmail.com> */
.pagination{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding: var(--lwc-spacingSmall);
}
.pagination_text{
	margin: 0 var(--lwc-spacingSmall);
}