/* @author Andrei Kakhanouski <akohan91@gmail.com> */
.pagination{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.pagination_text{
	margin: 0 var(--lwc-spacingSmall);
}